:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

.shell {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    gap: 20px;
}

.shell img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    z-index: 20;
}

.shells {
    flex-direction: row;
    display: flex;
    margin-top: 40px;
}

img {
    max-width: 200px;
    padding-right: 1rem;
}

.stat {
    padding-right: 5rem;
}

button {
    margin-right: 2rem;
}

.reveal {
    transform: translateY(-100px);
}

.pearl {
    z-index: 10;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgb(245, 233, 220);
    border-radius: 50%;
    box-shadow: 5px -2px 5px rgba(113, 112, 112, 0.6);
    margin: 10px;
    top: 65px;
}

.stat {
    padding-right: 5rem;
}

button {
    margin-right: 2rem;
}
