.shell {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    gap: 20px;
}

.shell img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    z-index: 20;
}

.shells {
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
}

img {
    max-width: 200px;
    padding-right: 1rem;
}

.stat {
    padding-right: 5rem;
}

button {
    margin-right: 2rem;
    border-radius: 25px;
}

.reveal {
    transform: translateY(-100px);
}

.pearl {
    z-index: 10;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgb(245, 233, 220);
    border-radius: 50%;
    box-shadow: 5px -2px 5px rgba(113, 112, 112, 0.6);
    margin: 10px;
    top: 65px;
}

.stat {
    padding-right: 5rem;
}

button {
    margin-right: 2rem;
}
